APP_NAME="SID-TECH"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=${APP_URL:-http://localhost}

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_FAKER_LOCALE=fr_FR

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=${PGHOST:-${DB_HOST:-127.0.0.1}}
DB_PORT=${PGPORT:-${DB_PORT:-5432}}
DB_DATABASE=${PGDATABASE:-${DB_DATABASE:-sidtech}}
DB_USERNAME=${PGUSER:-${DB_USERNAME:-sidtech}}
DB_PASSWORD=${PGPASSWORD:-${DB_PASSWORD:-}}

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=${SESSION_DOMAIN:-null}

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=file

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=sidibeousmanemohamed@gmail.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="sidibeousmanemohamed@gmail.com"
MAIL_FROM_NAME="SID-TECH Contact"

VITE_APP_NAME="${APP_NAME}"
